# Test case - Face

In [9]:
import numpy as np
import pandas as pd

# some_file.py
import sys
# insert at 1, 0 is the script path (or '' in REPL)
sys.path.insert(1, '/Users/alikhannurlanuly/Lesion-Clustering/face_face_feature/')
from face_functions import create_face, calculate_face

# Face - face case

In [10]:
def test_face(points, face_neighbors):   
    df = pd.DataFrame()
    df['xyz'] = points
    df['face_neighbors'] = face_neighbors
    df = create_face(df)
    df.insert(0, 'voxel_id', range(0, len(df)))
    df = calculate_face(df)
    cols = [i for i in range(3, 9)]
    df.drop(df.columns[cols],axis=1,inplace=True)
    
    return df

In [11]:
# Across x, only 3 points
x0 = [-1, 0, 0]
x1 = [0, 0, 0]
x2 = [1, 0, 0]

points = [x0, x1, x2]
face_neighbors = [[1], [0, 2], [1]]

df_face_3points = test_face(points, face_neighbors)

In [12]:
df_face_3points

   voxel_id         xyz face_neighbors  f1_n  f2_n  f3_n  f4_n  f5_n  f6_n
0         0  [-1, 0, 0]            [1]     1     0     0     0     0     0
1         1   [0, 0, 0]         [0, 2]     1     1     0     0     0     0
2         2   [1, 0, 0]            [1]     1     0     0     0     0     0

In [13]:
# Accross x, y, only 9 points

x0 = [-1, 0, 0]
x1 = [-1, 1, 0]
x2 = [-1, 2, 0]
x3 = [0, 0, 0]
x4 = [0, 1, 0]
x5 = [0, 2, 0]
x6 = [1, 0, 0]
x7 = [1, 1, 0]
x8 = [1, 2, 0]

points = [x0, x1, x2, x3, x4, x5, x6, x7, x8]
face_neighbors = [
    [1, 3],
    [0, 2, 4],
    [1, 5],
    [0, 4, 6],
    [1, 3, 5, 7],
    [2, 4, 8],
    [3, 7],
    [4, 6, 8],
    [5, 7],
]

df_face_9points = test_face(points, face_neighbors)

In [14]:
df_face_9points

   voxel_id         xyz face_neighbors  f1_n  f2_n  f3_n  f4_n  f5_n  f6_n
0         0  [-1, 0, 0]         [1, 3]     1     1     0     0     0     0
1         1  [-1, 1, 0]      [0, 2, 4]     1     1     1     0     0     0
2         2  [-1, 2, 0]         [1, 5]     1     1     0     0     0     0
3         3   [0, 0, 0]      [0, 4, 6]     1     1     1     0     0     0
4         4   [0, 1, 0]   [1, 3, 5, 7]     1     1     1     1     0     0
5         5   [0, 2, 0]      [2, 4, 8]     1     1     1     0     0     0
6         6   [1, 0, 0]         [3, 7]     1     1     0     0     0     0
7         7   [1, 1, 0]      [4, 6, 8]     1     1     1     0     0     0
8         8   [1, 2, 0]         [5, 7]     1     1     0     0     0     0

In [15]:
# Accross x, y, z only 27 points
x0 = [-1, 0, 0]
x1 = [-1, 0, 1]
x2 = [-1, 0, 2]
x3 = [-1, 1, 0]
x4 = [-1, 1, 1]
x5 = [-1, 1, 2]
x6 = [-1, 2, 0]
x7 = [-1, 2, 1]
x8 = [-1, 2, 2]

x9 = [0, 0, 0]
x10 = [0, 0, 1]
x11 = [0, 0, 2]
x12 = [0, 1, 0]
x13 = [0, 1, 1]
x14 = [0, 1, 2]
x15 = [0, 2, 0]
x16 = [0, 2, 1]
x17 = [0, 2, 2]

x18 = [1, 0, 0]
x19 = [1, 0, 1]
x20 = [1, 0, 2]
x21 = [1, 1, 0]
x22 = [1, 1, 1]
x23 = [1, 1, 2]
x24 = [1, 2, 0]
x25 = [1, 2, 1]
x26 = [1, 2, 2]

X = np.array([x0, x1, x2, x3, x4, x5, x6, x7, x8, x9, x10, x11, x12, x13,x14, x15,
             x16, x17, x18, x19, x20, x21, x22, x23, x24, x25, x26])

face_neighbors = []
for x in X:
    nei = []
    sub_loop = abs(x - X)
    for count, i in enumerate(sub_loop):
        if sum(i) == 1:
            nei.append(count)
    face_neighbors.append(nei)
    
df_face_27points = test_face(list(X), face_neighbors)

In [16]:
df_face_27points

,voxel_id,xyz,face_neighbors,f1_n,f2_n,f3_n,f4_n,f5_n,f6_n
0,0,"[-1, 0, 0]","[1, 3, 9]",1,1,1,0,0,0
1,1,"[-1, 0, 1]","[0, 2, 4, 10]",1,1,1,1,0,0
2,2,"[-1, 0, 2]","[1, 5, 11]",1,1,1,0,0,0
3,3,"[-1, 1, 0]","[0, 4, 6, 12]",1,1,1,1,0,0
4,4,"[-1, 1, 1]","[1, 3, 5, 7, 13]",1,1,1,1,1,0
5,5,"[-1, 1, 2]","[2, 4, 8, 14]",1,1,1,1,0,0
6,6,"[-1, 2, 0]","[3, 7, 15]",1,1,1,0,0,0
7,7,"[-1, 2, 1]","[4, 6, 8, 16]",1,1,1,1,0,0
8,8,"[-1, 2, 2]","[5, 7, 17]",1,1,1,0,0,0
9,9,"[0, 0, 0]","[0, 10, 12, 18]",1,1,1,1,0,0
10,10,"[0, 0, 1]","[1, 9, 11, 13, 19]",1,1,1,1,1,0
11,11,"[0, 0, 2]","[2, 10, 14, 20]",1,1,1,1,0,0
12,12,"[0, 1, 0]","[3, 9, 13, 15, 21]",1,1,1,1,1,0
13,13,"[0, 1, 1]","[4, 10, 12, 14, 16, 22]",1,1,1,1,1,1
14,14,"[0, 1, 2]","[5, 11, 13, 17, 23]",1,1,1,1,1,0
15,15,"[0, 2, 0]","[6, 12, 16, 24]",1,1,1,1,0,0
16,16,"[0, 2, 1]","[7, 13, 15, 17, 25]",1,1,1,1,1,0
17,17,"[0, 2, 2]","[8, 14, 16, 26]",1,1,1,1,0,0
18,18,"[1, 0, 0]","[9, 19, 21]",1,1,1,0,0,0
19,19,"[1, 0, 1]","[10, 18, 20, 22]",1,1,1,1,0,0
20,20,"[1, 0, 2]","[11, 19, 23]",1,1,1,0,0,0
21,21,"[1, 1, 0]","[12, 18, 22, 24]",1,1,1,1,0,0
22,22,"[1, 1, 1]","[13, 19, 21, 23, 25]",1,1,1,1,1,0
23,23,"[1, 1, 2]","[14, 20, 22, 26]",1,1,1,1,0,0
24,24,"[1, 2, 0]","[15, 21, 25]",1,1,1,0,0,0
25,25,"[1, 2, 1]","[16, 22, 24, 26]",1,1,1,1,0,0
26,26,"[1, 2, 2]","[17, 23, 25]",1,1,1,0,0,0